// vars palette colors

// color Cube
$color_White: #ffff;
$Nevada:#6762676c;
$Shark:#1a1b1b;
$eastern_Blue :#27aabe;
$salmon:#fc8c5e;
$silver_Caliche:#aeaeae;
$royal_Blue :#6a5fe1;
$totem_Pole :#951a0c;
$ultramarine:#0c1f86;
$malibu:#74def4;

// color Median cut

$bizzarre : #eee3d6;
$cape_Cod : #3b3d3f;
$boston_blue :#399bc0;
$wedgewood : #516faa;
$downy : #6dc2d0;

// Material Design

$san_Marino:#4562b0;
$oslo_Gray:#969799;
$ironstone:#8a453f;
$shark_darkmuted:#202325;
$downy_lightVibrants:#6fc2d2;